<form class="row mt-4" [formGroup]="searchForm" (submit)="onSearch()">
  <div class="col-9">
    <input class="form-control" placeholder="Search an artist, albun, title, ..." formControlName="searchText">
  </div>
  <div class="col">
    <select class="form-select" formControlName="resourceType">
      <option *ngFor="let option of typeOptions;" [value]="option">{{option}}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary col-1 search-button">Search</button>
</form>
